/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

// Multi-tap
&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

// Mouse
&mmv {
   time-to-max-speed-ms = <680>;
   acceleration-exponent=<2>;
};

/ {
        behaviors {
          hm: homerow_mods {
              compatible = "zmk,behavior-hold-tap";
              label = "HOMEROW_MODS";
              #binding-cells = <2>;
              tapping-term-ms = <200>;
              quick_tap_ms = <0>;
              flavor = "tap-preferred";
              bindings = <&kp>, <&kp>; };
          td: tapdance {
                compatible = "zmk,behavior-hold-tap";
                label = "TAPDANCE";
                #binding-cells = <2>;
                tapping-term-ms = <150>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp TAB   &td Q 1      &td W 2     &td F 3      &td P 4     &td B 5        &td J 6    &td L 7      &td U 8         &td Y 9      &td SEMI 0    &kp BSPC
   &kp ESC   &hm A SHIFT  &hm R LALT  &hm S LCTRL  &hm T LCMD  &kp G          &kp M      &hm N RMCD   &hm E RCTRL     &hm I RALT   &hm O RSHIFT  &kp ENTER
   &kp LSHFT &td Z GRAVE  &td X BSLH  &td C COMMA  &td D DOT   &td V SLSH     &td K SQT  &td H MINUS  &td COMMA EQUAL &td DOT LBKT &td FSLH RBKT &kp ESC
                                      &none        &kp TAB     &kp SPACE      &kp SPACE  &kp BSPC     &none
                        >;
                };
        };
};
